body{
	margin: 0 auto!important;
}
.cabecera-formato-items{
	width: 700px;
	height: 30px;
	margin: 2px 0 ;	
}
.boton{
	width: 200px;
	height:30px;
	border-radius: 10px;
}
#iten1 , #iten2 , #iten3 , #iten4 , #iten5 , #iten6{
	border-radius: 10px;
	margin-top: 20px;
	width: 650px;
	background-color:#fff;
	box-shadow:0px 0px 7px 0px rgba(0,0,0,0.47);
	border:solid 1px rgba(0,0,0,0.47);
}
#texto{
	width: 400px;
	margin: 6px;
	line-height: 1.1;
}

.texto-resaltado{
	font-weight: bold;

}
